body{
    background: rgb(32, 33, 36);
}
.navbars{
    padding: 5px;
    gap:20px;
    margin-bottom: 20px;
}
.navdash{
    display: flex;
    position: fixed;
}
.navbarslist{
    list-style: none;
} 
.navbarslist .menu-icons{
    height: 30px;
    border: transparent;
    list-style: none;
    color:white;
}
.navbarslist button{
    border: transparent;
    background: transparent;
}
.navbarslist .title{
    color: white;
    list-style: none;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
}
.navbars .menu-list{
   list-style: none;
   color: white;
   line-height: 50px;
   background: rgb(10, 10, 10);
   padding: 20px;
   width: 150px;
   margin-top: 60px;
   display: none;
   z-index: -3px ;
   position: fixed;
   border-radius: 10px;
}
.navbars .menu-list li{
   padding: 6px;
   text-align: center;
   line-height: 20px;
   margin-top: 20px;
   margin-bottom: 20px;
   border-radius: 20px;
}
.navbars .menu-list li a{
   color: rgb(63, 40, 192);
   text-decoration: none;
   font-family: 'Courier New', Courier, monospace;
} 
.menu-list li:hover{
   background: white;
   color: black;
}

.main{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}
.main .offergamer img{
    width: 550px;
    height:300px;
}
.main .maintext {
    display: flex;
    gap:10px;
}
.main .maintext p{
    margin-top:5px;
    color: white;
}
.main .maintext .avatars{
    width: 30px;
    height: 30px;
    border-radius: 100px;
}
.main .offergamer  .offerbuttons{
    color: white;
    border-radius: 100px;
    font-size: 13px;
    height: 30px;
    padding: 0px;
    padding-bottom:10px;

}
.offergamer .offerbuttons p{
    border: 1px solid transparent;
    padding: 5px;
    width: 120px;
    text-align: center;
    border-radius: 20px;
    background: rgb(194, 46, 46); 
}
.offergamer .offerbuttons p:hover{
   border: 1px solid transparent;
   padding: 5px;
   width: 120px;
   text-align: center;
   border-radius: 20px;
   background: rgba(194, 46, 46, 0.507); 
}

.offergamer .offerbuttons a{
   color: rgb(243, 242, 240);
}
.footer{
   margin-top: 120px;
   justify-content: center;
   background: rgba(231, 59, 59, 0.377);    
   justify-items: center;
   width: 100%;
   justify-content: center;
}
.first-footer{
   width: 100%;
}
.footer .socials{
   display: flex;
   justify-content: center;
   text-align: center;
   gap: 10px;
}
.footer .socials p{
   color:white;
}
.footer .socials a{
   color:white;
   margin-top: 10px;
   text-decoration: none;
}

